@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-Regular.woff2") format(woff2),
    url("./fonts/JetBrainsMono-Regular.woff") format(woff);
}

@font-face {
  font-family: "NeueHaasGroteskDisp Pro Lt";
  src: url("./fonts/NHaasGroteskDSPro-45Lt.woff2") format("woff2"),
    url("./fonts/NHaasGroteskDSPro-45Lt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueHaasGroteskDisp Pro Md";
  src: url("./fonts/NHaasGroteskDSPro-65Md.woff2") format("woff2"),
    url("./fonts/NHaasGroteskDSPro-65Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "soyuz_groteskbold";
  src: url("./fonts/soyuzgroteskbold-webfont.woff2") format("woff2"),
    url("./fonts/soyuzgroteskbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "NeueHaasGroteskDisp Pro Md", Arial, Helvetica, sans-serif;
}

.container {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  padding: 10px;

  min-height: 80vh;
}

.save-container {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  padding: 10px;
}

/* body.correct {
  background-color: forestgreen;
}

body.wrong {
  background-color: #8b2222;
} */

/* question container, answer container???, buttons, result, time left, view highscore, highscore container */

.header {
  margin: 0, auto;
  display: flex;
  justify-content: center;
}

.question-container {
  padding: 20px;
}

/* TODO: fix this */
.time {
  font-size: 20px;
  margin-top: 40px;
  display: flex;

  align-items: center;

  justify-content: center;
}

.times-up {
  font-size: 20px;
  margin-top: 40px;
  display: flex;

  align-items: center;

  justify-content: center;
}

.scores-container {
  margin-top: 0px;
}

.secondsleft {
  font-family: JetBrains Mono, monospace;
  color: deeppink;
}

#question {
  font-family: JetBrains Mono, monospace;
}
.btn {
  margin: 0.25em;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: JetBrains Mono, monospace;
  font-size: 15px;
  background-color: #000000;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
}

.btn:hover {
  color: #00cff3;
}

.btn.correct {
  background-color: forestgreen;
}

.btn.wrong {
  background-color: #8b2222;
}

.save-btn {
  color: deeppink;
  display: flex;
  flex-direction: column;

  align-items: center;

  justify-content: center;
}

.hide {
  display: none;
}
